#afiliacion {
	margin-top: 50px;

	.layout-body {
		padding-top: 0rem;
		.afiliacion-text {
			font-size: 18px;
		}
		.home-form {
			margin-top: 2rem;
		}
		#form-free input {
			margin-bottom: 8px;
		}
	}

	.terms-box {
		margin-top: 2rem;
	}

	.campos-requeridos {
		margin-top: 2rem;
		margin-bottom: 2rem;
	}
	.caret {
		color: #5d5b5b;
		width: 20px;
	}
}