#afiliacion {
	margin-top: 50px;

	.layout-body {
		padding-top: 0rem;
		.afiliacion-text {
			font-size: 18px;
		}
		.home-form {
			margin-top: 2rem;
		}
	}

	.tems-box {
		margin-bottom: 2rem;
		margin-top: 1rem;
	}
}