#afiliacion, #contacto {
	margin-top: 50px;

	.layout-body {
		padding-top: 0rem;
		.home-form {
			margin-top: 2rem;
		}
		#form-free input,
		#form-contact input {
			margin-bottom: 0px;
		}
	}

	.terms-box {
		margin-top: 2rem;
		input[type=checkbox]:checked+label:before {
			border-right: 2px solid $violet;
			border-bottom: 2px solid $violet;
		}
	}

	.campos-requeridos {
		margin-top: 20px;
		margin-bottom: 15px;
		text-align: left;
	}
	.caret {
		color: #5d5b5b;
		width: 20px;
	}
	.select-afiliate {
		background-color: transparent;
		width: 100%;
		padding: 5px;
		border: none;
		border-radius: 2px;
		height: 3rem;
		border-bottom: 1px solid #9e9e9e;
	}
	.input.field select:focus {
		border: none;
	}
}

@media (min-width: 992px) {
	#afiliacion .campos-requeridos,
	#contacto .campos-requeridos {
		text-align: center;
	}
}