#afiliacion, #contacto {
	margin-top: 50px;

	.layout-body {
		padding-top: 0rem;
		.home-form {
			margin-top: 2rem;
		}
		#form-free input,
		#form-contact input {
			margin-bottom: 0px;
		}
	}

	.terms-box {
		margin-top: 2rem;
		input[type=checkbox]:checked + label:before {
			border-right: 2px solid $purple;
			border-bottom: 2px solid $purple;
		}
	}

	.campos-requeridos {
		margin-top: 20px;
		margin-bottom: 15px;
		text-align: left;
	}
	.caret {
		color: $purple;
		width: 20px;
	}
	.select-afiliate {
		background-color: transparent;
		width: 100%;
		padding: 0px;
		border: none;
		border-radius: 2px;
		height: 3rem;
		border-bottom: 1px solid $purple;
	}
	.input.field select:focus {
		border: none;
	}
}
.form-common {
	.input-field input {
		margin-bottom: 5px;
		border-bottom: 1px solid $purple;
	}
	.input-field label {
		font-size: 12px;
		opacity: 0.6;
		color: $purple;
	}
	.input-field input[type=number]:focus + label,
	.input-field input[type=text]:focus + label,
	.input-field input[type=email]:focus + label,
	textarea.materialize-textarea:focus + label {
		color: $purple;
	}

    .input-field input[type=text]:focus,
    .input-field input[type=text].valid,
    .input-field input[type=text]:focus.valid,
    .input-field input[type=number]:focus,
    .input-field input[type=number].valid,
    .input-field input[type=number]:focus.valid,
    .input-field input[type=email]:focus,
    .input-field input[type=email].valid,
    .input-field input[type=email]:focus.valid,
    textarea.materialize-textarea:focus,
    textarea.materialize-textarea.valid {
    	border-bottom: 1px solid $purple;
    	box-shadow: 0 1px 0 0 $purple;
	}
	textarea.materialize-textarea {
		padding: 0;
		border-bottom: 1px solid $purple;
	}
}
@media (min-width: 992px) {
	#afiliacion, #contacto {
		margin-top: 70px;
		.campos-requeridos {
			text-align: center;
		}
	}
}