* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}

body{
	background-color: $white;
	color: $violet;
	overflow-x: hidden;
	font-family: 'Lato', sans-serif;

	font-size: 14px;
    line-height: 18px;
}
a {
	color: $violet;
	text-decoration: none;
}

.row {margin-bottom: 0px;}

/***********************************/

#home {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#cotiza {
	height: 100vh;
}

#productos, #cotiza {
	background-color: $grey;
}
#productos, #options, #cotiza, #estudios {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.home-icons {width: 50px;}
.home-box {
	width: 90%;
	margin: 0 auto;
	padding-top: 2rem;
    padding-bottom: 2rem;
}

.home-subtitle {
	font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.home-link {
    font-weight: bold;
	font-size: 14px;
	line-height: 18px;

	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: $violet;
	display: inline-block;
    margin-top: 10px;
}

.home-form {
	.input-field label {
		font-size: 12px;
		opacity: 0.6;
		color: $violet;
	}
	.input-field input[type=number]:focus + label {
		color: #c5c5c5;
	}

    .input-field input[type=text]:focus {
    	border-bottom: 1px solid #000;
    	box-shadow: 0 1px 0 0 #000;
	}
}

.home-docs {
	border: 1px solid #c5c5c5;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-top: 2.5rem;
}

.home-docs-box {
	padding-bottom: 10px;
    padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
}

.home-btn-docs {
	display: block;
    width: 250px;
    border-radius: 7px;
    text-align: center;
    margin: 0 auto;
    border: 1px solid $violet;
    font-size: 16px;
    padding-top: 9px;
    padding-bottom: 10px;
    position: relative;

    i.left {
		position: absolute;
		left: 25%;
		margin-left: -5px;
		font-size: 25px;
    	float: none !important;
    	-webkit-transform: rotate(180deg);
    	-moz-transform: rotate(180deg);
    	-ms-transform: rotate(180deg);
    	transform: rotate(180deg);
    }
}

/* Cotiza */

#cotizaopt1 {
	padding-top: 2rem;

	.cotiza-box-300 {
		border-radius: 5px;
		border: 1px solid $violet;
		padding: 10px;
		text-align: center;

		.number {
			font-weight: bold;
			position: relative;

			span:nth-child(1){
				position: absolute;
				top: 15px;
				left: 50%;
				margin-left: -70px;
				font-size: 22px;
			}

			span:nth-child(2) {
				font-size: 50px;
			}
		}
	}

	.cotiza-300-text-box {
		padding-bottom: 1rem;
		padding-top: 1rem;
	}
}

#cotizaopt2 {
	padding-top: 3rem;

	.cotiza-personal-title {
		text-align: center;
	    font-size: 20px;
	    font-weight: bold;
	    width: 280px;
	    margin: 0 auto;
	    line-height: 130%;
	}

	form.home-form .input-field input{
		margin-bottom: 10px;
	}

}
