* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}

body{
	background-color: $white;
	color: $violet;
	overflow-x: hidden;
	font-family: 'Lato', sans-serif;

	font-size: 14px;
    line-height: 18px;
}
a {
	color: $violet;
	text-decoration: none;
}
.row {margin-bottom: 0px;}

.title-home {
	font-family: 'acherus_grotesqueregular';
	font-size: 30px;
    line-height: 34px;
	margin-bottom: 30px;
}
.titles {
	font-family: 'acherus_grotesqueregular';
    font-size: 24px;
    line-height: 28px;

    margin-bottom: 15px;
    margin-top: 15px;
}
.subtitles {
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;

    margin-bottom: 15px;
    margin-top: 15px;
}

.text-orange {
    color: $orange;
}
.text-violet {
    color: $violet;
}

.img-common {
	width: 100%;
}
.center-left{
	text-align: left;
}
.left-center {
	text-align: center;
}

/***********************************/

#home {
	height: 100vh;
	background-image: url('../assets/img/img_principal_responsive.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	p:first-child {
		color: $white;
	}
}

#cotiza {
	height: 600px;
}
#cotiza-wrapper {
	width: 100%;
	height: 600px;
	background-color: $white;
}

#productos, #estudios {
	p {
		color: $violet;
	}
}

#productos, #estudios {
	background-color: $grey;
}
#productos, #options, #cotiza-wrapper, #estudios {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

#options {
	background-image: url('../assets/img/img_elegir-responsive.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: $white;
}

.home-wrapper {
	width: 90%;
	margin: 0 auto;
	padding-top: 2rem;
    padding-bottom: 2rem;
}

/*** products ***/

.product-wrap {
	height: 80px;
}

.seemore {
    font-weight: bold;
	font-size: 14px;
	line-height: 18px;
	color: $orange;
	display: block;

	// border-bottom-style: solid;
	// border-bottom-width: 2px;
	// border-bottom-color: $orange;
	// display: inline-block;
}

.form-common {
	.input-field label {
		font-size: 12px;
		opacity: 0.6;
		color: $violet;
	}
	.input-field input[type=number]:focus + label,
	.input-field input[type=text]:focus + label {
		color: $violet;
	}

    .input-field input[type=text]:focus {
    	border-bottom: 1px solid $violet;
    	box-shadow: 0 1px 0 0 $violet;
	}
}

.docs-wrapper {
	background-color: $white;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-top: 2.5rem;
}

.docs-wrapper-inner {
	padding-bottom: 10px;
    padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
}

.docs-wrapper-btn {
	display: block;
    width: 250px;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto;
    border: 1px solid $violet;
    font-size: 16px;
    padding-top: 12px;
    padding-bottom: 13px;
    display: flex;
    align-items: center;
    justify-content: center;

    i.left {
		font-size: 20px;
    	float: none !important;
    	color: $orange;
    	margin-right: 10px;
    }
}

/* Cotiza */

.cotizaopt1 {
	padding-top: 2rem;

	.cotiza-box-300 {
		border-radius: 5px;
		border: 1px solid $violet;
		padding: 10px 30px;
		text-align: center;
		position: relative;
		width: 300px;
		margin: 0 auto;

		.number {
			font-weight: bold;
			margin-bottom: 10px;
			margin-top: 30px;

			span:nth-child(1){
				position: absolute;
				top: 50px;
				left: 48%;
				margin-left: -90px;
				font-size: 30px;
			}

			span:nth-child(2) {
				font-size: 80px;
			}
		}
	}

	.cotiza-300-text-box {
		padding-bottom: 1rem;
		padding-top: 1rem;
	}
}

.cotizaopt2 {
	padding-top: 3rem;

	.cotiza-personal-title {
		text-align: center;
	    font-size: 20px;
	    font-weight: bold;
	    width: 280px;
	    margin: 0 auto;
	    line-height: 130%;
	}

	form.home-form .input-field input{
		margin-bottom: 10px;
	}

}

@media (min-width: 992px){
	body {
		font-size: 16px;
		line-height: 20px;
	}
	.subtitles {
		font-size: 20px;
		font-weight: bold;
		line-height: 24px;
	}
	.titles {
		font-size: 26px;
		line-height: 30px;
	}
	.title-home {
		font-size: 45px;
		line-height: 50px;
	}
	.seemore {
		font-size: 16px;
		line-height: 20px;
	}
	.docs-wrapper-btn{
		width: 100%;
	}

	#home {
		background-image: url('../assets/img/img_principal.jpg');
	}
	#options {
		background-image: url('../assets/img/img_elegir.jpg');
	}
	#cotiza {
		background-image: url('../assets/img/img_cotiza.jpg');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	#productos {
		height: 600px;
	}
	#cotiza-wrapper {
		width: 50%;
	}
	.cotizaopt1, .cotizaopt2 {
		padding-bottom: 3rem;
		padding-top: 3rem;
	}
	.center-left {
		text-align: center;
	}
	.left-center {
		text-align: left;
	}

}
