/** fonts **/
@font-face {
	font-family: 'acherus_grotesqueregular';
	src: url('../fonts/acherus/acherus_grotesque_-_regular-webfont.woff2') format('woff2'),
	     url('../fonts/acherus/acherus_grotesque_-_regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

/*** Colors Dá **/

$purple: #27073A;
$cyan: #51F6FF;
$orange: #FF5D00;
$purple-light: #5520B2;
$grey: #F0F0F0;
$white: #FFFFFF;
