/* navbar home */
#nav-bar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	border-bottom: 1px solid #cccccc;
	background-color: #ffffff;
	height: 50px;
	padding-left: 1rem;
    padding-right: 1rem;

	.nav-top {
		background-color: #ffffff;
		border-bottom: 1px solid #cccccc;
		overflow: hidden;
		box-shadow: none;
		height: 50px;

		.nav-lineal {
			display: none;
		}
		.nav-logo {
			font-size: 30px;
			line-height: 50px;
		}
		.nav-collapse {
			float: right;
			.nav-perfil{
				cursor: pointer;
				line-height: 50px;
				margin-right: 10px;
				
				.nav-perfil-icon {
					font-size: 18px;
					line-height: 50px;
					&:before {
						color: $orange;
					}
				}
			}
			.nav-barra {
			    margin-right: 0px;
				i{
				    cursor: pointer;
				    color: $violet;
				    line-height: 50px;
				}
			}
		}
	}
}

/* breadcrumbs */

.nav-breadcrumbs{
	background-color: $white;
	height: 50px;
	box-shadow: none;
	line-height: 45px;
	padding-left: 1rem;
    padding-right: 1rem;

	.nav-wrapper {
		height: 50px;

		.breadcrumb{
			color: $violet;
			font-size: 12px;
			&:before {
				color: $orange;
				margin: 0px;
			}
		}
	}
}

/* icons */
.icons-violet-lg {
	color: $violet;
	font-size: 80px;
}
.icons-white-lg {
	color: $white;
	font-size: 80px;
}

.icons-violet-sm {
	font-size: 40px;
	color: $violet;
}
.icons-white-sm {
	font-size: 40px;
	color: $white;
}
.icons-special {
	font-size: 80px;
	color: $violet;
}

/** sidenav **/
.side-nav {
	width: 200px;
	background-color: $violet;
	color: $white;
}


/** error **/
.input-field span.error,
.select-box span.error, 
.terms-box ~ span.error {
	font-size: 10px;
	font-weight: 300;
	color: red;
}



/*footer*/

#footer {
	background-color: $violet;
	color: $white;
	padding-top: 3rem;
	padding-bottom: 1rem;
	line-height: 18px;
	font-size: 14px;
	
	.footer-tilde {
		display: none;
	}
	.footer-titles {
		font-weight: bold;
	}
	.footer-bottom {
		margin-top: 2rem;
		padding-top: 1rem;
	}

	p, a {
		padding-bottom: 10px;
		padding-top: 10px;
	}
	a {
		display: block;
		text-decoration: none;
		color: $white;
		cursor: pointer;

		&:hover {
			text-decoration: underline;
		}
	}
}

@media (min-width: 992px) {
	#nav-bar {
		padding-left: 5rem;
		padding-right: 5rem;
		.nav-top .nav-logo {
			font-size: 40px;
		}
		.nav-top .nav-barra, 
		.nav-top .nav-perfil{
			display: none;
		}
		.nav-top .nav-lineal {
			display: block;
			line-height: 50px;

			li {
				margin-left: 10px;
				margin-right: 10px;
				a{
					color: $violet;
				}
			}
		}
	}
	.nav-breadcrumbs {
		padding-right: 5rem;
		padding-left: 5rem;
		.nav-wrapper .breadcrumb{
			font-size: 14px;
		}
	}

	.sidenav {
		width: 300px;
	}

	#footer {
		font-size: 16px;
		line-height: 20px;
		position: relative;
		
		.footer-bottom {
			border-top-style: solid;
			border-top-width: 1px;
			border-top-color: rgba(255, 255, 255, 0.05);
		}
		.footer-tilde {
			position: absolute;
			top: 0px;
			right: 0px;
			display: inline;
		}
	}
	.icons-special {
		font-size: 120px;
	}
}