.btn-da-box {
    margin-top: 15px;
    margin-bottom: 15px;

}
.btn-da{
	display: block;
    width: 100%;
    padding: 11px;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto;
    height: auto;
    line-height: 24px;
    text-transform: initial;
    font-size: 16px;
    box-shadow: none;
}
.btn-cyan{
    color: $violet;
    background-color: $cyan;
    letter-spacing: 0px;
    &:hover {
        background-color: $cyan;
        box-shadow: none;
    }
}
.btn-violet{
    color: $white;
    background-color: $violet;
    font-weight: bold;
    &:hover {
        background-color: $violet;
        box-shadow: none;
    }
}
.btn-flat {
    background-color: transparent;
    border: 1px solid $violet;
    color: $violet;
    &:hover {
        background-color: $violet;
        color: $white;
    }
}

@media (min-width: 992px) {
    .btn-da {
        width: 300px;
    }
}