/** fonts **/
@font-face {
	font-family: 'acherus_grotesqueregular';
	src: url('../fonts/acherus/acherus_grotesque_-_regular-webfont.woff2') format('woff2'),
	     url('../fonts/acherus/acherus_grotesque_-_regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

/*** Colors Dá **/

$purple: #27073A;
$purple2: #38074f;

$cyan: #51F6FF;
$cyan2: #4ee0e8;

$orange: #FF5D00;
$orange2: #ff6c1d;

$purple-light: #5520B2;
$purple-light2: #5520c1;
$grey: #F0F0F0;
$white: #FFFFFF;